{%load static%}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>dinas pariwisata</title>

		<link rel="stylesheet" href="{% static 'dashboard/reveal/css/reset.css' %}">
		<link rel="stylesheet" href="{% static 'dashboard/reveal/css/reveal.css' %}">
		<link rel="stylesheet" href="{% static 'dashboard/reveal/css/theme/black.css' %}">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="{% static 'dashboard/reveal/lib/css/monokai.css' %}">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? "{% static 'dashboard/reveal/css/print/pdf.css' %}" : "{% static 'dashboard/reveal/css/print/paper.css' %}";
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section data-background="https://drive.google.com/file/d/1IqDP6lWCvrdGp4qAq9RI_eXdomOazzH6/view">
				</section>
				<!-- <section data-background-transition="zoom"  data-background-iframe="/dash/sample">
					slide 1
				</section> -->
				
				<section data-autoslide="5000">
						<iframe  height="500" width="500" src="https://www.youtube.com/embed/DYaE1SgGiP0?autoplay=0" enablejsapi=1 frameborder="0" allowfullscreen data-autoplay></iframe>

				</section>
				<!-- <section data-background-transition="zoom"  data-background-iframe="https://dinaspariwisata.tangerangselatankota.go.id/"  margin-left: -185px; >
					slide 1
				</section> -->
				
				
				<section  data-background-transition="zoom"  data-background-iframe="/dash/dashboard1"></section>
				
				<section data-background="https://www.pu.go.id/assets/images/content/narasi_tunggal_1kemenpar.png"></section>
				<section  data-background-transition="zoom" data-background-iframe="/dash/dashboard2"></section>
			</div>
		</div>

		<script src="{% static 'dashboard/reveal/js/reveal.js' %}"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				autoSlide: 5000,
				
				loop:true,
				dependencies: [
					{ src: "{% static 'dashboard/reveal/plugin/markdown/marked.js' %}" },
					{ src: "{% static 'dashboard/reveal/plugin/markdown/markdown.js' %}" },
					{ src: "{% static 'dashboard/reveal/plugin/notes/notes.js' %}", async: true },
					{ src: "{% static 'dashboard/reveal/plugin/highlight/highlight.js' %}", async: true }
				]
			});
		</script>
	</body>
</html>
