
{% extends 'app/shared/base.html' %}
{% load static%}

{% block body %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Slide</h2>
        
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Tambah/Ubah Slide</h5>
                   
                </div>
                <div class="ibox-content">
                      {% if messages %}
                        {% for message in messages %}
                          <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
                        {% endfor %}
                      {% endif %}

                      {% if form.errors %}
                        <div class="alert alert-error">
                          <h4>Please fix the following errors</h4>
                          <ul>
                            {% for field in form %}
                              {% if field.errors %}
                                {% for error in field.errors %}
                                  <li><a href="#id_{{ field.name }}" class="error">{{field.name}} : {{ error|escape }}</a></li>
                                {% endfor %}
                              {% endif %}
                            {% endfor %}
                          </ul>
                          {% if form.non_field_errors %}
                            {{ form.non_field_errors }}
                          {% endif %}
                        </div>
                      {% endif %}
                    <form method="POST">
                        {% csrf_token%}
                        <div class="form-group row"><label class="col-lg-2 col-form-label">{{form.title.name}}</label>

                            <div class="col-lg-10">
                                <input type="text" placeholder="title" name="{{form.title.name}}" class="form-control" value="{{form.title.value | default_if_none:'-'}}" > 
                            </div>
                        </div>
                        
                        <div class="form-group row"><label class="col-lg-2 col-form-label">{{form.slide_type.name}}</label>

                            <div class="col-lg-10">
                                <select id="slide_type" name="{{form.slide_type.name}}" class="form-control m-b" >
                                    {% for k,v in form.slide_type.field.choices %}
                                    {% if slide_type == k%}
                                        <option selected='selected' value="{{k}}">{{v}}</option>
                                    {% else %}
                                        <option value="{{k}}">{{v}}</option>
                                    {% endif %}

                                    
                                    {% endfor%}
                                </select>
                                
                            </div>
                        </div>
                        <div class="form-group row"><label class="col-lg-2 col-form-label">{{form.duration.name}}</label>

                            <div class="col-lg-10">
                                <input type="number" placeholder="duration" name="{{form.duration.name}}" class="form-control" value="{{form.duration.value | default_if_none:'3600'}}" > <span class="form-text m-b-none">durasi slide.</span>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            
                            
                                {% if slide_type == 'image' %}
                                <label class="col-lg-2 col-form-label">images</label>
                                <div class="col-lg-10">
                                    <select class="form-control m-b" name="{{form.data_string.name}}">
                                        {% for im in images %}
                                            
                                            <option value="/media/{{im.img_file}}">{{im.title}}</option>
                                            
                                        {% endfor%}
                                    </select>
                                     <span class="form-text m-b-none">value saat ini : {{form.data_string.value}}</span>
                                </div>
                                
                                {% elif slide_type == 'video' %}
                                <label class="col-lg-2 col-form-label">video</label>
                                <div class="col-lg-10">
                                    <select class="form-control m-b" name="{{form.data_string.name}}">
                                        {% for vid in videos %}
                                            <option value="/media/{{vid.video_file}}">{{vid.title}}</option>
                                        {% endfor%}
                                    </select>
                                    <span class="form-text m-b-none">value saat ini : {{form.data_string.value}}</span>
                                </div>
                                {%else %}
                                <label class="col-lg-2 col-form-label">slide_type</label>
                                <div class="col-lg-10">
                                        <input type="text" placeholder="data_string" name="{{form.data_string.name}}" class="form-control" value="{{form.data_string.value | default_if_none:'-'}}" > 
                                </div>
                                
                                {%endif%}
                            
                        </div>
                        
                        
                        <div class="form-group row"><label class="col-lg-2 col-form-label">{{form.order.name}}</label>

                            <div class="col-lg-10">
                                <input type="number" placeholder="order" name="{{form.order.name}}" class="form-control" value="{{form.order.value | default_if_none:'1'}}" > 
                            </div>
                        </div>
                        <div class="form-group row"><label class="col-lg-2 col-form-label">{{form.dashboard.name}}</label>

                            <div class="col-lg-10">
                                {% if dashboard %}
                                <select class="form-control m-b" name="{{form.dashboard.name}}">
                                    <option value="{{dashboard.pk}}" selected="selected">
                                        {{dashboard.name}}
                                    </option>
                                    
                                </select>
                                {% else %}
                                <select class="form-control m-b" name="{{form.dashboard.name}}">
                                    {% for d in dashboards %}
                                    {% if form.dashboard.value == d.pk %}
                                        <option value="{{d.pk}}" selected='selected'>{{d.name}}</option>
                                    {% else %}
                                        <option value="{{d.pk}}">{{d.name}}</option>
                                    {% endif %}

                                    
                                    {% endfor%}
                                </select>
                                {%endif%}
                            </div>
                        </div>
                       
                        <div class="form-group row">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-sm btn-white" type="submit">Simpan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock body%}


{% block js_footer%}
<script src="{% static 'app/js/plugins/dataTables/datatables.min.js' %}"></script>
<script src="{% static 'app/js/plugins/dataTables/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,

        });
        $('#slide_type').change(function(){
            var value=$(this).val();
            var urlParams = new URLSearchParams(window.location.search);
            if(urlParams.has('id')){
                window.location.href='?id='+urlParams.get('id')+"&type="+value
            }else{
                window.location.href='?type='+value;    
            }
            
        })

    });

</script>
{% endblock%}

{% block css_header %}
<link href="{% static 'app/css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">     
{% endblock %}